<div class="container" style="margin-top: 10px;align:center">

<form>
  <app-travel-presentation [travelDetails] = "travelDetails"></app-travel-presentation>

<div class="form-row">
  <button class="btn btn-primary" (click)="returnToMain()">Return to Main</button>
  <button class="btn btn-primary"  (click)="GoBackToTravelDetailsList()"style="margin-left: 2px;">Back</button>
  <button class="btn btn-danger"  (click)="editTravelDetailRecord()"style="margin-left: 2px;">Edit Record</button>
  <button class="btn btn-danger"  (click)="deleteTravelDetailRecord()"style="margin-left: 2px;">Delete Record</button>
 </div>

</form>

</div>
